<!-- Top Nav: begin -->
<nav class="navbar" fxLayout="row">
  <a class="brand" href="#">
  </a>
  <ul fxLayout="row" fxFlexAlign="center">
    <li>
      <button mat-button>Menu 1</button>
    </li>
    <li>
      <button mat-button>Menu 2</button>
    </li>
    <li>
      <button mat-button>Menu 3</button>
    </li>
  </ul>
  <div fxFlex></div>
  <ul fxLayout="row" fxFlexAlign="center">
    <li>
      <mat-form-field class="search">
        <input matInput placeholder="Search this site">
      </mat-form-field>
    </li>
    <li fxFlexAlign="center">
      <button mat-button>Log In</button>
    </li>
    <li></li>
  </ul>
</nav>
<!-- Top Nav: end -->

<!-- Sidebar: begin -->
TODO
<!-- Sidebar: end -->